@font-face {
  font-family: "shlop";
  src: url("https://use.typekit.net/af/890e08/00000000000000003b9afe43/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/890e08/00000000000000003b9afe43/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/890e08/00000000000000003b9afe43/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: "alegreya";
  src: url("https://use.typekit.net/af/cf7654/00000000000000003b9b236e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"), url("https://use.typekit.net/af/cf7654/00000000000000003b9b236e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"), url("https://use.typekit.net/af/cf7654/00000000000000003b9b236e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
  font-style: normal;
  font-weight: 900; }
@font-face {
  font-family: "alegreya";
  src: url("https://use.typekit.net/af/447a9b/00000000000000003b9b2366/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/447a9b/00000000000000003b9b2366/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/447a9b/00000000000000003b9b2366/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-style: normal;
  font-weight: 400; }
.tk-shlop {
  font-family: "shlop", sans-serif; }

.tk-alegreya {
  font-family: "alegreya", serif; }

html {
  background: url("../img/skullTile.png");
  z-index: 1;
  scroll-behavior: smooth; }

body {
  margin: 0;
  font-family: alegreya, serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1em;
  z-index: 3;
  color: #fff;
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: left;
  background: url("../img/moonWide.png");
  background-size: 100% auto;
  background-repeat: no-repeat; }

a {
  color: #fff; }
  a:hover {
    color: #333; }

h1, h2, h3 {
  margin: 0;
  padding: 1em 0; }

h1, h2 {
  font-size: 2em;
  line-height: 1.5em;
  padding-top: 0em;
  text-transform: uppercase;
  font-weight: 900; }

h3 {
  font-size: 1em;
  line-height: 1.5em;
  text-transform: uppercase;
  font-weight: 900; }

h4 {
  font-family: shlop, sans-serif;
  font-weight: 400;
  font-style: normal; }

p {
  font-size: 1em;
  letter-spacing: 0; }

li {
  font-family: shlop, sans-serif; }

small {
  font-size: 0.7em; }

strong {
  font-weight: 900;
  text-transform: uppercase; }

.menu-main-menu-container, .primary-menu {
  z-index: 998; }

.nav-menu {
  float: right;
  padding-top: 10px;
  position: fixed;
  right: 0;
  z-index: 999; }

.main-navigation {
  background: #000;
  position: fixed;
  height: 58px;
  -webkit-box-shadow: 0px 13px 19px 2px black;
  -moz-box-shadow: 0px 13px 19px 2px black;
  box-shadow: 0px 13px 19px 2px black; }
  .main-navigation li {
    width: 100%;
    height: 1.5em;
    font-size: 1.5em;
    text-align: center; }

@media screen and (max-width: 900px) {
  .nav-menu {
    float: right;
    padding-top: 10px;
    position: fixed;
    right: 0;
    height: 100vh;
    background: #000;
    top: 0;
    padding-top: 50px; } }
@media screen and (min-width: 899px) {
  #menu-item-2631 {
    display: none; }

  .main-navigation li {
    width: 150px;
    height: 50px;
    font-size: 30px; }
    .main-navigation li a {
      padding-top: 7px; } }
@media screen and (max-width: 900px) {
  .menu-toggle {
    background: transparent;
    border: none; }

  #hamburger {
    top: 12px;
    width: 40px;
    height: 35px;
    position: fixed;
    float: right;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: 51; }
    #hamburger span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: #fff;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out; }
    #hamburger span:nth-child(1) {
      top: 0px; }
    #hamburger span:nth-child(2) {
      top: 12px; }
    #hamburger span:nth-child(3) {
      top: 24px; }
    #hamburger.true span:nth-child(1) {
      top: 14px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg); }
    #hamburger.true span:nth-child(2) {
      opacity: 0;
      left: -60px; }
    #hamburger.true span:nth-child(3) {
      top: 14px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg); } }
.imgLogo {
  padding-top: 100px; }

.imgLogo video {
  -webkit-box-shadow: 10px 10px 5px 0px black;
  -moz-box-shadow: 10px 10px 5px 0px black;
  box-shadow: 10px 10px 5px 0px black; }

.bookGif {
  background-image: url("../img/book/book.gif");
  background-repeat: no-repeat;
  background-position: center; }
  .bookGif a {
    color: transparent; }

.book {
  position: fixed;
  right: 0px;
  top: 0px; }

@media screen and (min-width: 899px) {
  .book img {
    display: none; } }
.imgLogo video {
  padding-top: 1em;
  -webkit-box-shadow: 20px 20px 30px 0px black;
  -moz-box-shadow: 20px 20px 30px 0px black;
  box-shadow: 20px 20px 30px 0px black; }

@media screen and (max-width: 900px) {
  .logoSection {
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0), black);
    text-align: center;
    height: 100vh; } }
.site-content {
  padding: 0em 1em;
  z-index: -1;
  position: relative; }

@media screen and (min-width: 899px) {
  .site-content {
    padding: 0em 2em; } }
.site-footer {
  padding: 2em;
  text-align: center;
  background-image: url("../img/graveyard.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 300px;
  bottom: 0;
  color: #000; }
  .site-footer h2 {
    padding: 0; }
  .site-footer h4 {
    color: #000; }

.cross {
  position: relative;
  display: inline-block; }

.cross::before {
  content: "";
  width: 100%;
  position: absolute;
  right: 0;
  top: 50%; }

.cross::before {
  border-bottom: 4px solid red;
  -webkit-transform: skewY(-10deg);
  transform: skewY(-10deg); }

.contactWrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  text-align: center;
  justify-content: space-between; }

.contactLink {
  align-self: center;
  height: 100%;
  width: 100%; }

.slMobile {
  display: flex;
  justify-content: center; }

.socialLink {
  width: 1.5em;
  height: auto;
  margin: 0em 1em; }

@media screen and (min-width: 899px) {
  .contactWrapper {
    display: flex; }

  .contactLink {
    display: flex;
    width: auto; } }
#mc_embed_signup {
  margin-bottom: 2em; }

#mc-embedded-subscribe, .mc-field-group input, .mc-field-group input:active {
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border: 0px;
  border-radius: 0px;
  font-family: shlop, sans-serif;
  font-size: 30px;
  margin: 0.1em 0em;
  padding: 0.1em 0.2em;
  height: 50px; }

#mc-embedded-subscribe {
  color: red;
  padding: 0.2em 0.2em; }

#mce-FNAME, #mce-LNAME, #mce-EMAIL {
  color: red; }

@media screen and (min-width: 899px) {
  .footerGrid {
    display: flex;
    justify-content: space-around; }

  #mc-embedded-subscribe, .mc-field-group input, .mc-field-group input:active {
    width: 200px; } }
.site-content {
  -webkit-transition: -webkit-transform 0.28s, opacity 0.28s;
  -ms-transition: -o-transform 0.28s, opacity 0.28s;
  -o-transition: -o-transform 0.28s, opacity 0.28s;
  transition: transform 0.28s, opacity 0.28s; }

.slide-out .site-content {
  -webkit-transform: translate3d(0, 100px, 0);
  -ms-transform: translate3d(0, 100px, 0);
  -o-transform: translate3d(0, 100px, 0);
  transform: translate3d(0, 100px, 0);
  opacity: 0; }

.main-text {
  position: relative;
  display: inline-block; }

.back-text {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  display: inline-block; }

.skew {
  animation: skew 3.2s infinite alternate; }

.glitch {
  animation: glitch 3.2s infinite alternate; }

@keyframes skew {
  50% {
    transform: skew(0deg); }
  10% {
    transform: skew(0deg); }
  24% {
    transform: skew(-3deg); }
  28% {
    transform: skew(0deg); }
  35% {
    transform: skew(0deg); }
  37% {
    transform: skew(2deg); }
  39% {
    transform: skew(0deg); }
  50% {
    transform: skew(0deg); } }
@keyframes glitch {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1; }
  10% {
    transform: translate3d(0, 0, 0);
    opacity: 0.3; }
  12% {
    transform: translate3d(5px, 4px, 0);
    opacity: 1; }
  14% {
    transform: translate3d(0, 0, 0); }
  30% {
    transform: translate3d(0, 0, 0); }
  32% {
    transform: translate3d(-4px, -3px, 0); }
  34% {
    transform: translate3d(0, 0, 0); }
  35% {
    opacity: 1;
    transform: translate3d(0, 0, 0); }
  37% {
    opacity: 0.3;
    transform: translate3d(10px, -6px, 0); }
  38% {
    opacity: 1;
    transform: translate3d(0, 0, 0); }
  40% {
    transform: translate3d(0, 0, 0); } }
.pizza {
  position: relative;
  text-align: center;
  color: white; }
  .pizza img {
    width: 100%; }

.line1 {
  position: absolute;
  top: 10%;
  left: 20%;
  background: #000; }
  .line1 h2 {
    padding: 0.1em 0.5em;
    margin: 0 0; }

.line2 {
  position: absolute;
  top: 40%;
  right: 20%;
  background: #000; }
  .line2 h2 {
    padding: 0.1em 0.5em;
    margin: 0 0; }

/*# sourceMappingURL=lb_style.css.map */
