@font-face {
  font-family: "shlop";
  src: url("https://use.typekit.net/af/890e08/00000000000000003b9afe43/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/890e08/00000000000000003b9afe43/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/890e08/00000000000000003b9afe43/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: "alegreya";
  src: url("https://use.typekit.net/af/cf7654/00000000000000003b9b236e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"), url("https://use.typekit.net/af/cf7654/00000000000000003b9b236e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"), url("https://use.typekit.net/af/cf7654/00000000000000003b9b236e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
  font-style: normal;
  font-weight: 900; }
@font-face {
  font-family: "alegreya";
  src: url("https://use.typekit.net/af/447a9b/00000000000000003b9b2366/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/447a9b/00000000000000003b9b2366/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/447a9b/00000000000000003b9b2366/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-style: normal;
  font-weight: 400; }
.tk-shlop {
  font-family: "shlop", sans-serif; }

.tk-alegreya {
  font-family: "alegreya", serif; }

html {
  background: url("../img/skullTile.png");
  z-index: 1;
  scroll-behavior: smooth; }

body {
  margin: 0;
  font-family: alegreya, serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1em;
  z-index: 3;
  color: #fff;
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: left;
  background: url("../img/moonWide.png");
  background-size: 100% auto;
  background-repeat: no-repeat; }

a {
  color: #fff; }
  a:hover {
    color: #333; }

h1, h2, h3 {
  margin: 0;
  padding: 1em 0; }

h1, h2 {
  font-size: 2em;
  line-height: 1.5em;
  padding-top: 0em;
  text-transform: uppercase;
  font-weight: 900; }

h3 {
  font-size: 1em;
  line-height: 1.5em;
  text-transform: uppercase;
  font-weight: 900; }

h4 {
  font-family: shlop, sans-serif;
  font-weight: 400;
  font-style: normal; }

p {
  font-size: 1em;
  letter-spacing: 0; }

li {
  font-family: shlop, sans-serif; }

small {
  font-size: 0.7em; }

strong {
  font-weight: 900;
  text-transform: uppercase; }

.nav-menu {
  float: right;
  padding-top: 10px; }

.main-navigation li {
  width: 100%;
  height: 1.5em;
  font-size: 1.5em;
  text-align: center; }

@media screen and (min-width: 600px) {
  #menu-item-2631 {
    display: none; }

  .main-navigation li {
    width: 150px;
    height: 50px;
    font-size: 30px; } }
@media screen and (max-width: 599px) {
  .menu-toggle {
    background: transparent;
    border: none; }

  #hamburger {
    top: 8px;
    width: 40px;
    height: 35px;
    position: relative;
    float: right;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer; }
    #hamburger span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: #fff;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out; }
    #hamburger span:nth-child(1) {
      top: 0px; }
    #hamburger span:nth-child(2) {
      top: 12px; }
    #hamburger span:nth-child(3) {
      top: 24px; }
    #hamburger.true span:nth-child(1) {
      top: 14px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg); }
    #hamburger.true span:nth-child(2) {
      opacity: 0;
      left: -60px; }
    #hamburger.true span:nth-child(3) {
      top: 14px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg); } }
.imgLogo video {
  -webkit-box-shadow: 10px 10px 5px 0px black;
  -moz-box-shadow: 10px 10px 5px 0px black;
  box-shadow: 10px 10px 5px 0px black; }

.site-content {
  -webkit-transition: -webkit-transform 0.28s, opacity 0.28s;
  -ms-transition: -o-transform 0.28s, opacity 0.28s;
  -o-transition: -o-transform 0.28s, opacity 0.28s;
  transition: transform 0.28s, opacity 0.28s; }

.slide-out .site-content {
  -webkit-transform: translate3d(0, 100px, 0);
  -ms-transform: translate3d(0, 100px, 0);
  -o-transform: translate3d(0, 100px, 0);
  transform: translate3d(0, 100px, 0);
  opacity: 0; }

/*# sourceMappingURL=lb_style.css.map */
