// Pizza

.pizza
	position: relative
	text-align: center
	color: white
	img 
		width: 100%

.line1
	position: absolute
	top: 10%
	left: 20%
	background: #000
	h2
		padding: 0.1em 0.5em
		margin: 0 0

.line2
	position: absolute
	top: 40%
	right: 20%
	background: #000
	h2
		padding: 0.1em 0.5em
		margin: 0 0

.line3
	position: absolute
	bottom: 40%
	right: 0%
	background: #000
	h2
		padding: 0.1em 0.5em
		margin: 0 0

// Instagram
.instagram
	padding-bottom: 2em

// Contact
.contact
	height: 100vh
	overflow-x: hidden
	overflow-y: auto
	perspective: 2px
	margin: 0em -2em

.contactWrap

	text-align: center
	background-image: url("../img/contact.jpg")
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	overflow: hidden
	position: relative
	height: 100vh

.parallax::after
	content: " "
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0

.bg1::after
	background-image: url('../img/contact.jpg')


.contactInfo
	width: 40%
	float: right
	text-align: left
