.lbSectionTitle
	background: $highlight
	padding: 0.3em
	text-align: center
	margin-top: 2em



// Pizza

.pizza
	position: relative
	text-align: center
	color: white
	align-items: center

.rightPicBox
	width: 100%
	float: right
	flex-grow: 1
	margin-right: -4em


.leftTextBox
	text-align: left
	width: 100%
	float: left
	margin-right: 2em
	h2
		font-size: 1.4em

@media screen and (min-width: $breakmax)
	.pizza
		display: flex

	.rightPicBox
		width: 70%

	
	.leftTextBox
		width: 30%



// Instagram
.instagram
	padding-bottom: 2em
	margin: 2em 0em

// Contact
.contactArea
	position: relative
	text-align: center
	color: white
	align-items: center

.leftPicContact
	width: 100%
	float: left
	flex-grow: 1
	margin-left: -4em
	display: none

.rightTextContact
	text-align: left
	width: 100%
	float: right
	

@media screen and (min-width: $breakmax)
	.contactArea
		display: flex

	.leftPicContact
		display: block
		width: 70%
	
	.rightTextContact
		width: 30%
		text-align: right
		margin-right: 2em



// Blog
.blog
	margin-top: 2em
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	height: 100%
	width: 100%

.blogHeading
	width: 100%


.homeBlog
	width: 33%
	float: left
	padding: 1em
	

.storyImage
	height: 15em
	img
		height: 15em
		max-width: 100%
		display: block
		width: 100%
		height: 15em
		overflow: hidden
		object-fit: cover

.storyContent

// Menu
.menuSection
	width: 100%
	h2
	margin: 0em 0em

.leftPicBox
	display: none

@media screen and (min-width: $breakmax)
	.leftPicBox
		display: block
		width: 100%
		float: left
		margin: 0em -4em


.pizzaMenu
	width: 100%
	margin: 0em 2em
	float: right
	margin-right: 2em

@media screen and (min-width: $breakmax)
	.leftPicBox
		width: 70%
		float: left
		margin: 0em -4em

	.pizzaMenu
		width: 30%
		float: right
		margin-right: 2em

.menuLink
	margin-top: 1em
	position: relative
	width: 100%
	padding-bottom: 100%
	display: flex
	flex-direction: column
	border-style: solid
	border-color: #fff
	-moz-transition: all 0.2s ease-in
	-webkit-transition: all 0.2s ease-in
	-o-transition: all 0.2s ease-in
	transition: all 0.2s ease-in
	img
		position: absolute
		width: 100%
		height: 100%
		object-fit: cover
 
.menuLink:hover
	border-color: #881E1E


.bottom
	align-self: flex-end
	position: absolute
	padding-top: 1em
	display: inline-block
	background: #881E1E
	color: #fff
	text-decoration: none
	padding: 0em 1em
	margin: .5em 0
	clip-path: polygon(10px 113px, 393px 131px, 361px 4px, 0px 0px)
	margin-right: -0.5em
	-webkit-transition: margin-right 0.2s ease-in-out
	-o-transition: margin-right 0.2s ease-in-out
	transition: margin-right 0.2s ease-in-out
	h4
		line-height: 0em
		padding: 0em 0em
		-moz-transition: padding 0.2s ease-in-out
		-webkit-transition: padding 0.2s ease-in-out
		-o-transition: padding 0.2s ease-in-out
		transition: padding 0.2s ease-in-out

.menuLink:hover .bottom h4
	padding: 0em 1em

hr.pacman
	padding-top: 2em
	border: 0
	