.pizza
	position: relative
	text-align: center
	color: white
	img 
		width: 100%

.line1
	position: absolute
	top: 10%
	left: 20%
	background: #000
	h2
		padding: 0.1em 0.5em
		margin: 0 0

.line2
	position: absolute
	top: 40%
	right: 20%
	background: #000
	h2
		padding: 0.1em 0.5em
		margin: 0 0
